img {
    width: 20%;
    height: 20%;
    border-radius: 25%;
    border-style: solid;
    border-color:cornflowerblue;
}
body {
    background-color: darkcyan;
    margin: 1px;
    color: lightblue;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navigation>li {
    float: left;
}
.navigation>li a {
    display: block;
    color: lightblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigation>li a:hover {
    background-color: #111;
}
