img {
    width: 20%;
    height: 20%;
    border-radius: 25%;
    border-style: solid;
    border-color:cornflowerblue;
}
body {
    background-color: darkcyan;
    margin: 0px;
    color: lightblue;
    text-align: center;
    list-style-position: inside;
}
ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

/* Navigation bar */
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border: 1px solid lightblue;}
.navigation>li a {
    color: lightblue;
    border-right: 1px solid lightblue;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;}
#name {
    float: right;
    padding: 14px 16px;
    display: block;
    text-align: center;}
.navigation>li a:hover {
    background-color: #111;}
.active{
    background-color: #086660;
}
